.occasion-item {
    color: #333;
}

.occasion-item__description h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}